<div style="height: 80vh;" class="row d-flex align-items-center">
	<main class="w-100 d-flex justify-content-center">
		{{!-- GAME SCRENN --}}
		<canvas id="game-canvas" width="640" height="640" class="border rounded"></canvas>

		<div id="keys-r">
			{{> keysRight}}
		</div>
	</main>

</div>