<aside class="right mr-5">
	<section class="d-none d-lg-block">

		<div id="contain-r">
			{{!-- Outline Keys --}}
			<img class="a1 keys" src="src/a2-1a.png">
			<img class="a2 keys" src="src/a3-1a.png">
			<img class="a3 keys" src="src/a1-1a.png">
			<img class="a4 keys" src="src/a4-1a.png">

			{{!-- Pressed Keys --}}
			<img class="b1 keys d-none" src="src/a2-1b.png">
			<img class="b2 keys d-none" src="src/a3-1b.png">
			<img class="b3 keys d-none" src="src/a1-1b.png">
			<img class="b4 keys d-none" src="src/a4-1b.png">
		</div>

		<div class="text-center">
			<h3 class="mt-3">CONTROLS</h3>
		</div>

	</section>
</aside>