<aside class="left mr-5">
	<section class="d-none d-lg-block">

		<div id="contain-l">

			{{!-- Shooting Keys --}}
			<img class="k-1a keys" src="src/x1-1a.png">
			<img class="k-2a keys" src="src/c1-1a.png">
			{{!-- Shooting Press --}}
			<img class="k-1b keys d-none" src="src/x1-1b.png">
			<img class="k-2b keys d-none" src="src/c1-1b.png">
			<h3 class="t-1">SHOOT</h3>

			{{!-- Start Game Key --}}
			<img class="k-3a enter" src="src/e1-1a.png">
			{{!-- Start Press --}}
			<img class="k-3b enter d-none" src="src/e1-1b.png">
			<h3 class="t-2">START</h3>

			{{!-- Start Game Key --}}
			<img class="k-4a keys" src="src/r1-1a.png">
			{{!-- Start Press --}}
			<img class="k-4b keys d-none" src="src/r1-1b.png">
			<h3 class="t-3">RESTART</h3>

		</div>

	</section>
</aside>