<aside class="right mr-5">
	<section class="d-none d-lg-block">

		<div id="contain-r">
			{{!-- Outline arrows --}}
			<img class="a1 keys" src="src/a2-1a.png">
			<img class="a2 arrows" src="src/a3-1a.png">
			<img class="a3 arrows" src="src/a1-1a.png">
			<img class="a4 arrows" src="src/a4-1a.png">

			{{!-- Pressed arrows --}}
			<img class="b1 arrows d-none" src="src/a2-1b.png">
			<img class="b2 arrows d-none" src="src/a3-1b.png">
			<img class="b3 arrows d-none" src="src/a1-1b.png">
			<img class="b4 arrows d-none" src="src/a4-1b.png">
		</div>

		<div class="text-center">
			<h3 class="mt-3">CONTROLS</h3>
		</div>

	</section>
</aside>