<aside class="right mr-5">

	<section class="d-none d-lg-block">
		{{!-- Outline Keys --}}
		<div id="contain">
			<img class="a1 arrow" src="src/a2-1a.png">
			<img class="a2 arrow" src="src/a3-1a.png">
			<img class="a3 arrow" src="src/a1-1a.png">
			<img class="a4 arrow" src="src/a4-1a.png">

			{{!-- Pressed Keys --}}

			<img class="b1 arrow d-none" src="src/a2-1b.png">
			<img class="b2 arrow d-none" src="src/a3-1b.png">
			<img class="b3 arrow d-none" src="src/a1-1b.png">
			<img class="b4 arrow d-none" src="src/a4-1b.png">
		</div>
	</section>
</aside>