<div class="row d-flex align-items-center">
	<section id="leaderboard" class="col-12 collapse">

		{{!-- Gaming Icon --}}
		<div class="row">
			<div class="col-12 mt-2 mb-3 text-center">
				<img width="80px" src="src/controller.gif">
			</div>
		</div>

		{{!-- Leaderboard --}}
		<div class="row">
			<div class="col-12 col-md-8 mx-auto d-flex align-items-center text-center">
				{{!-- Table --}}
				<table class="table text-white">
					<thead>
						<tr>
							<th scope="col">Name</th>
							<th scope="col">Score</th>
						</tr>
					</thead>
					<tbody class="leader-table">

					</tbody>
				</table>
			</div>
	</section>
</div>