<div class="row d-flex align-items-center ">
	<section id="loginAccount" class="col-12 border collapse">

		{{!-- Log In --}}
		<div style="height: 40vh;" class="row">
			<div class="col-5 d-flex align-items-center text-center">
				<form class="mx-auto col-12 col-md-8 login-form">
					<h3 class="teal">Login</h3>
					{{!-- Username --}}
					<div class="form-group">
						<label for="formGroupExampleInput">Username</label>
						<input name="username" type="text" class="form-control" id="loginUsername"
							placeholder="Username">
					</div>
					{{!-- Password --}}
					<div class="form-group">
						<label for="formGroupExampleInput2">Password</label>
						<input name="password" type="password" class="form-control" id="loginPassword"
							placeholder="Password">
					</div>
					<button class="btn btn-dark login-submit">Submit</button>
					<div class="show-message"></div>
				</form>
			</div>

			{{!-- Divide Message --}}

			<div class="col-2 d-flex align-items-center justify-content-center text-center">
				<h3> Login or <br>Create Account</h3>
			</div>


			<div class="col-5 d-flex align-items-center text-center create-form">
				<form class="mx-auto col-12 col-md-8">
					<h3 class="teal">Create</h3>
					{{!-- Username --}}
					<div class="form-group">
						<label for="formGroupExampleInput">Username</label>
						<input name="username" type="text" class="form-control" id="createUsername"
							placeholder="Username">
					</div>
					{{!-- Password --}}
					<div class="form-group">
						<label for="formGroupExampleInput2">Password</label>
						<input name="password" type="password" class="form-control" id="createPassword"
							placeholder="Password">
					</div>
					<button class="btn btn-dark create-submit">Submit</button>
				</form>
			</div>
		</div>

	</section>
</div>