<div style="height: 100vh;" class="row d-flex align-items-center">
	<nav class=" col-4 border">

		{{!-- Log In --}}
		<div style="height: 30vh;" class="row border">
			<div class="col-12 d-flex align-items-center text-center">
				<form action="/api/login" method="POST" class="w-100">
					{{!-- Username --}}
					<div class="form-group">
						<label for="formGroupExampleInput">Username</label>
						<input name="username" type="text" class="form-control" id="loginUsername"
							placeholder="Example input">
					</div>
					{{!-- Password --}}
					<div class="form-group">
						<label for="formGroupExampleInput2">Password</label>
						<input name="password" type="password" class="form-control" id="loginPassword"
							placeholder="Another input">
					</div>
					<button class="btn btn-dark" type="submit">Submit</button>
				</form>
			</div>
		</div>

		{{!-- Divide Message --}}
		<div style="height: 10vh;" class="row border">
			<div class="col-12 d-flex align-items-center justify-content-center text-center">
				<h3> Login or <br>Create Account</h3>
			</div>
		</div>


		{{!-- Create Account --}}
		<div style="height: 30vh;" class="row border">
			<div class="col-12 d-flex align-items-center text-center">
				<form action="/api/create" method="POST" class="w-100">
					{{!-- Username --}}
					<div class="form-group">
						<label for="formGroupExampleInput">Username</label>
						<input name="username" type="text" class="form-control" id="createUsername"
							placeholder="Example input">
					</div>
					{{!-- Password --}}
					<div class="form-group">
						<label for="formGroupExampleInput2">Password</label>
						<input name="password" type="text" class="form-control" id="createPassword"
							placeholder="Another input">
					</div>
					<button class="btn btn-dark" type="submit">Submit</button>
				</form>
			</div>
		</div>

	</nav>
</div>