<div class="row">

	<nav class="col-12 d-flex border">

		<div id="" style="width: 250px;" class="leader d-none d-sm-block pt-2  text-center border"
			data-toggle="collapse" data-target="#leaderboard">
			<img width="45px" src="/src/leaderboard-icon.png" aria-controls="leaderboard">
			<p class="teal">Leaderboard</p>

		</div>

		<div class="d-flex flex-fill align-items-center justify-content-center">
			<h2 class="border pl-3 pr-3">Debugger</h2>
		</div>

		<div id="navbarCollapse" style="width: 250px;" class="pt-2 text-center border" data-toggle="collapse" data-target="#loginAccount">
			<div class="show-user"></div>
			<img width="45px" src="/src/account-icon.png" aria-controls="loginAccount">
			<p class="teal">Account</p>
			<button class="btn btn-primary logout-button" type="button" style="display: none;">
				Logout
			</button>
		</div>

	</nav>

</div>