<div class="row">

	<nav class="col-12 d-flex border">

		<div class="flex-fill text-center">

		</div>

		<div class="col-8 flex-fill text-center">
			<h1>Debugger</h1>
		</div>

		<div class="flex-fill text-center">
			<div class="show-user"></div>
			<button class="btn btn-primary account-button" type="button" data-toggle="collapse" data-target="#loginAccount"
				aria-expanded="false" aria-controls="loginAccount">
				Account
			</button>
			<button class="btn btn-primary logout-button" type="button" style="display: none;">
				Logout
			</button>
		</div>



	</nav>

</div>