<div class="container-fluid">
	<div class="row">

		<div id="login" class="col-12">
			{{> login}}
		</div>

		<div id="leader" class="col-12">
			{{> leaderboard}}
		</div>

		<div id="nav" class="col-12  rounded">
			{{> navbar}}
		</div>

		<div id="game" class="col-12">
			{{> gameScreen}}
		</div>

	</div>
</div>