<div class="container-fluid">
	<div class="row">

		{{> bgPattern}}

		<div id="nav" class="col-12">
			{{> navbar}}
		</div>

		<div id="login" class="col-12">
			{{> login}}
		</div>

	</div>
</div>