body {
    background: #1a1a1a;
    color: white !important;
    font-family: 'Press Start 2P', cursive;
}


/* COLOURS */

#loginAccount {
    background-image: url('../src/staticBG.gif');
    background-repeat: repeat;
    background-blend-mode: overlay;
}

#leaderboard {
    background-image: url('../src/staticBG.gif');
    background-repeat: repeat;
    background-blend-mode: overlay;
}

.teal {
    color: #8bf7bf;
}

.border {
    border: 1px solid #1e1e1e !important;
}

td,
th {
    border: 3px solid #1e1e1e !important;
}


/* FONTS */

h1,
h2,
h3,
p,
label,
button,
td,
tr,
th,
canvas {
    font-family: 'Press Start 2P', cursive !important;
}

h3,
label {
    font-size: 1em;
}


/* SECTIONS */

#nav {
    position: relative;
    z-index: 3;
}

#game-canvas {
    width: 500px;
    height: 500px;
    box-shadow: -10px 10px 8px rgb(20, 20, 20);
    transition: 1s ease;
}

#game-canvas:hover {
    transform: scale(1.1);
}

#keys-r {
    position: relative;
}

aside.right {
    position: absolute;
    bottom: 0;
    left: 50px;
    z-index: 5;
}


/* CONTROLS */

#contain {
    position: relative;
    width: 200px;
    height: 115px;
}

img.arrow {
    width: 60px;
    position: absolute;
    z-index: 3;
}

.a1 {
    top: 0;
    left: 65px;
}

.a2 {
    left: 0;
    bottom: 0;
}

.a3 {
    left: 65px;
    bottom: 0;
}

.a4 {
    left: 130px;
    bottom: 0;
}

.b1 {
    top: 0;
    left: 65px;
}

.b2 {
    left: 0;
    bottom: 0;
}

.b3 {
    left: 65px;
    bottom: 0;
}

.b4 {
    left: 130px;
    bottom: 0;
}